<a href="https://colab.research.google.com/github/clapinel/CPD_Crime_Senior_Thesis/blob/master/FINAL_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd

In [0]:
file_name = '/content/drive/My Drive/Crimes_-_2001_to_present.csv'

In [4]:
df = pd.read_csv(file_name)
# filter to keep certain years 
df = df.query('Year>2007')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (21) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.shape

(3852030, 22)

In [6]:
na_rows = df[df.isna().any(axis=1)]
print(na_rows.shape)
na_rows

(41600, 22)

               ID Case Number  ...  Longitude                       Location
1        11227287    JB147188  ...        NaN                            NaN
2        11227583    JB147595  ...        NaN                            NaN
3        11227293    JB147230  ...        NaN                            NaN
4        11227634    JB147599  ...        NaN                            NaN
5        11227517    JB138481  ...        NaN                            NaN
...           ...         ...  ...        ...                            ...
7103751   9991394    HY181085  ... -87.743451  (41.875943951, -87.743450627)
7105322   9993899    HY183354  ... -87.586504  (41.805307171, -87.586503978)
7108794  11703089    JC282400  ...        NaN                            NaN
7108798  11707734    JC287730  ...        NaN                            NaN
7108799  11707239    JC287563  ...        NaN                            NaN

[41600 rows x 22 columns]

In [7]:
# df = df.apply(pd.to_numeric, errors='coerce')
df = df.dropna()
print(df.shape)

(3810430, 22)

In [8]:
df['Primary Type'].value_counts()

THEFT                                845487
BATTERY                              691225
CRIMINAL DAMAGE                      421144
NARCOTICS                            344027
ASSAULT                              245527
OTHER OFFENSE                        235091
BURGLARY                             224617
DECEPTIVE PRACTICE                   179831
MOTOR VEHICLE THEFT                  165163
ROBBERY                              149059
CRIMINAL TRESPASS                     99709
WEAPONS VIOLATION                     50730
PUBLIC PEACE VIOLATION                30473
OFFENSE INVOLVING CHILDREN            27880
PROSTITUTION                          23713
CRIM SEXUAL ASSAULT                   16726
INTERFERENCE WITH PUBLIC OFFICER      13388
SEX OFFENSE                           13026
GAMBLING                               6556
HOMICIDE                               6432
ARSON                                  5770
LIQUOR LAW VIOLATION                   5674
KIDNAPPING                             2878
STALKING                               2190
INTIMIDATION                           2020
CONCEALED CARRY LICENSE VIOLATION       562
CRIMINAL SEXUAL ASSAULT                 529
OBSCENITY                               519
NON-CRIMINAL                            162
PUBLIC INDECENCY                        133
OTHER NARCOTIC VIOLATION                 83
HUMAN TRAFFICKING                        59
NON - CRIMINAL                           38
NON-CRIMINAL (SUBJECT SPECIFIED)          9
Name: Primary Type, dtype: int64

In [9]:
types = df['Primary Type'].value_counts().keys().tolist()
print(len(types))

34

In [0]:
# clean the primary types 
# crim sexual assault and non-criminal 
df = df.replace('CRIMINAL SEXUAL ASSAULT','CRIM SEXUAL ASSAULT')
df = df.replace('NON - CRIMINAL','NON-CRIMINAL')
df = df.replace('NON-CRIMINAL (SUBJECT SPECIFIED)','NON-CRIMINAL')

In [11]:
df['Primary Type'].value_counts()

THEFT                                845487
BATTERY                              691225
CRIMINAL DAMAGE                      421144
NARCOTICS                            344027
ASSAULT                              245527
OTHER OFFENSE                        235091
BURGLARY                             224617
DECEPTIVE PRACTICE                   179831
MOTOR VEHICLE THEFT                  165163
ROBBERY                              149059
CRIMINAL TRESPASS                     99709
WEAPONS VIOLATION                     50730
PUBLIC PEACE VIOLATION                30473
OFFENSE INVOLVING CHILDREN            27880
PROSTITUTION                          23713
CRIM SEXUAL ASSAULT                   17255
INTERFERENCE WITH PUBLIC OFFICER      13388
SEX OFFENSE                           13026
GAMBLING                               6556
HOMICIDE                               6432
ARSON                                  5770
LIQUOR LAW VIOLATION                   5674
KIDNAPPING                             2878
STALKING                               2190
INTIMIDATION                           2020
CONCEALED CARRY LICENSE VIOLATION       562
OBSCENITY                               519
NON-CRIMINAL                            209
PUBLIC INDECENCY                        133
OTHER NARCOTIC VIOLATION                 83
HUMAN TRAFFICKING                        59
Name: Primary Type, dtype: int64

In [12]:
types = df['Primary Type'].value_counts().keys().tolist()
print(len(types))

31

In [0]:
# mark as violent or non-violent 
violent = ['HOMICIDE', 'ASSAULT', 'ROBBERY', 'CRIM SEXUAL ASSAULT']
df['Violent'] = ['Violent' if x in violent else 'Non-Violent' for x in df['Primary Type']]

In [14]:
df['Violent'].value_counts()

Non-Violent    3392157
Violent         418273
Name: Violent, dtype: int64

In [15]:
# label as cannabis or not 
df['Description'].value_counts()

SIMPLE                                             399562
DOMESTIC BATTERY SIMPLE                            337118
$500 AND UNDER                                     313371
OVER $500                                          204059
TO VEHICLE                                         203919
                                                    ...
SOLICITING FOR A PROSTITUTE                             1
SALE / DELIVER - DRUG PARAPHERNALIA                     1
CONTRIBUTE TO THE CRIMINAL DELINQUENCY OF CHILD         1
SOLICITING FOR BUSINESS                                 1
REGISTER OF SALES BY DEALER                             1
Name: Description, Length: 490, dtype: int64

In [16]:
# clean cannabis discriptions
cannabis = ["MANU/POSS. W/INTENT TO DELIVER: SYNTHETIC MARIJUANA","CALCULATED CANNABIS CONSPIRACY","DELIVER CANNABIS TO PERSON <18","POSSESS - CANNABIS 30 GRAMS OR LESS","MANUFACTURE / DELIVER - CANNABIS OVER 10 GRAM","POSSESS - CANNABIS MORE THAN 30 GRAMS","POSSESSION: SYNTHETIC MARIJUANA","ATTEMPT POSSESSION CANNABIS","CANNABIS PLANT","MANU/DEL:CANNABIS 10GM OR LESS","MANU/DEL:CANNABIS OVER 10 GMS","POSS: CANNABIS 30GMS OR LESS", "POSS: CANNABIS MORE THAN 30GM"]
print(len(cannabis))
cannabis

13

['MANU/POSS. W/INTENT TO DELIVER: SYNTHETIC MARIJUANA',
 'CALCULATED CANNABIS CONSPIRACY',
 'DELIVER CANNABIS TO PERSON <18',
 'POSSESS - CANNABIS 30 GRAMS OR LESS',
 'MANUFACTURE / DELIVER - CANNABIS OVER 10 GRAM',
 'POSSESS - CANNABIS MORE THAN 30 GRAMS',
 'POSSESSION: SYNTHETIC MARIJUANA',
 'ATTEMPT POSSESSION CANNABIS',
 'CANNABIS PLANT',
 'MANU/DEL:CANNABIS 10GM OR LESS',
 'MANU/DEL:CANNABIS OVER 10 GMS',
 'POSS: CANNABIS 30GMS OR LESS',
 'POSS: CANNABIS MORE THAN 30GM']

In [0]:
df = df.replace('POSSESS - CANNABIS MORE THAN 30 GRAMS','POSS: CANNABIS MORE THAN 30GM')
cannabis.remove('POSSESS - CANNABIS MORE THAN 30 GRAMS')
df = df.replace('POSSESS - CANNABIS 30 GRAMS OR LESS','POSS: CANNABIS 30GMS OR LESS')
cannabis.remove('POSSESS - CANNABIS 30 GRAMS OR LESS')
df = df.replace('POSSESSION: SYNTHETIC MARIJUANA','POSS: SYNTHETIC MARIJUANA')
df = df.replace('MANUFACTURE / DELIVER - CANNABIS OVER 10 GRAM','MANU/DEL:CANNABIS OVER 10 GMS')
cannabis.remove('POSSESSION: SYNTHETIC MARIJUANA')
cannabis.remove('MANUFACTURE / DELIVER - CANNABIS OVER 10 GRAM')
cannabis.append('POSS: SYNTHETIC MARIJUANA')

In [18]:
print(len(cannabis))
cannabis

10

['MANU/POSS. W/INTENT TO DELIVER: SYNTHETIC MARIJUANA',
 'CALCULATED CANNABIS CONSPIRACY',
 'DELIVER CANNABIS TO PERSON <18',
 'ATTEMPT POSSESSION CANNABIS',
 'CANNABIS PLANT',
 'MANU/DEL:CANNABIS 10GM OR LESS',
 'MANU/DEL:CANNABIS OVER 10 GMS',
 'POSS: CANNABIS 30GMS OR LESS',
 'POSS: CANNABIS MORE THAN 30GM',
 'POSS: SYNTHETIC MARIJUANA']

In [0]:
df['Cannabis'] = [True if x in cannabis else False for x in df['Description']]

In [20]:
df['Cannabis'].value_counts()

False    3647091
True      163339
Name: Cannabis, dtype: int64

In [21]:
# clean firearm descriptions
gun = ["ATTEMPT ARMED: HANDGUN","AGGRAVATED PROTECTED EMPLOYEE - OTHER FIREARM","ATTEMPT AGG: OTHER FIREARM","DEFACE IDENTIFICATION MARKS OF FIREARM","ATTEMPT ARMED - OTHER FIREARM","UNLAWFUL SALE - DELIVERY OF FIREARM AT SCHOOL","ARMED VIOLENCE","AGGRAVATED PROTECTED EMPLOYEE - HANDGUN","AGGRAVATED DOMESTIC BATTERY - HANDGUN","UNLAWFUL POSSESSION - AMMUNITION","ARMED - OTHER FIREARM","UNLAWFUL POSSESSION - OTHER FIREARM","POSSESS FIREARM / AMMUNITION - NO FOID CARD","AGGRAVATED DOMESTIC BATTERY: OTHER FIREARM,""UNLAWFUL USE - OTHER FIREARM","AGGRAVATED PO: OTHER FIREARM","AGG PRO.EMP: OTHER FIREARM","UNLAWFUL SALE OTHER FIREARM","UNLAWFUL SALE/DELIVERY OF FIREARM AT SCHOOL","ATTEMPT ARMED - HANDGUN","ATTEMPT AGG: HANDGUN","FIREARM REGISTRATION VIOLATION","UNLAWFUL USE - HANDGUN","ATTEMPT: ARMED-OTHER FIREARM","ARMED WHILE UNDER THE INFLUENCE","AGGRAVATED DOMESTIC BATTERY: HANDGUN","AGG PRO.EMP: HANDGUN","UNLAWFUL POSSESSION - HANDGUN","ARMED - HANDGUN","UNLAWFUL USE OTHER FIREARM","AGGRAVATED PO: HANDGUN","ARMED: OTHER FIREARM","UNLAWFUL POSS AMMUNITION","POSS FIREARM/AMMO:NO FOID CARD","AGGRAVATED - HANDGUN","AGGRAVATED: OTHER FIREARM","RECKLESS FIREARM DISCHARGE","UNLAWFUL POSS OTHER FIREARM","UNLAWFUL USE HANDGUN","ARMED: HANDGUN","UNLAWFUL POSS OF HANDGUN", "AGGRAVATED: HANDGUN"]
print(len(gun))
gun

41

['ATTEMPT ARMED: HANDGUN',
 'AGGRAVATED PROTECTED EMPLOYEE - OTHER FIREARM',
 'ATTEMPT AGG: OTHER FIREARM',
 'DEFACE IDENTIFICATION MARKS OF FIREARM',
 'ATTEMPT ARMED - OTHER FIREARM',
 'UNLAWFUL SALE - DELIVERY OF FIREARM AT SCHOOL',
 'ARMED VIOLENCE',
 'AGGRAVATED PROTECTED EMPLOYEE - HANDGUN',
 'AGGRAVATED DOMESTIC BATTERY - HANDGUN',
 'UNLAWFUL POSSESSION - AMMUNITION',
 'ARMED - OTHER FIREARM',
 'UNLAWFUL POSSESSION - OTHER FIREARM',
 'POSSESS FIREARM / AMMUNITION - NO FOID CARD',
 'AGGRAVATED DOMESTIC BATTERY: OTHER FIREARM,UNLAWFUL USE - OTHER FIREARM',
 'AGGRAVATED PO: OTHER FIREARM',
 'AGG PRO.EMP: OTHER FIREARM',
 'UNLAWFUL SALE OTHER FIREARM',
 'UNLAWFUL SALE/DELIVERY OF FIREARM AT SCHOOL',
 'ATTEMPT ARMED - HANDGUN',
 'ATTEMPT AGG: HANDGUN',
 'FIREARM REGISTRATION VIOLATION',
 'UNLAWFUL USE - HANDGUN',
 'ATTEMPT: ARMED-OTHER FIREARM',
 'ARMED WHILE UNDER THE INFLUENCE',
 'AGGRAVATED DOMESTIC BATTERY: HANDGUN',
 'AGG PRO.EMP: HANDGUN',
 'UNLAWFUL POSSESSION - HANDGUN',
 'ARMED - HANDGUN',
 'UNLAWFUL USE OTHER FIREARM',
 'AGGRAVATED PO: HANDGUN',
 'ARMED: OTHER FIREARM',
 'UNLAWFUL POSS AMMUNITION',
 'POSS FIREARM/AMMO:NO FOID CARD',
 'AGGRAVATED - HANDGUN',
 'AGGRAVATED: OTHER FIREARM',
 'RECKLESS FIREARM DISCHARGE',
 'UNLAWFUL POSS OTHER FIREARM',
 'UNLAWFUL USE HANDGUN',
 'ARMED: HANDGUN',
 'UNLAWFUL POSS OF HANDGUN',
 'AGGRAVATED: HANDGUN']

In [0]:
df = df.replace('ATTEMPT ARMED - HANDGUN','POSS: SYNTHETIC MARIJUANA')
df = df.replace('UNLAWFUL USE - HANDGUN','UNLAWFUL USE HANDGUN')
gun.remove('ATTEMPT ARMED - HANDGUN')
gun.remove('UNLAWFUL USE - HANDGUN')
df = df.replace('UNLAWFUL SALE - DELIVERY OF FIREARM AT SCHOOL','UNLAWFUL SALE/DELIVERY OF FIREARM AT SCHOOL')
gun.remove('UNLAWFUL SALE - DELIVERY OF FIREARM AT SCHOOL')
df = df.replace('UNLAWFUL POSSESSION - OTHER FIREARM', 'UNLAWFUL POSS OTHER FIREARM')
gun.remove('UNLAWFUL POSSESSION - OTHER FIREARM')

df = df.replace('UNLAWFUL POSSESSION - HANDGUN', 'UNLAWFUL POSS OF HANDGUN')
gun.remove('UNLAWFUL POSSESSION - HANDGUN')
df = df.replace('UNLAWFUL POSSESSION - AMMUNITION', 'UNLAWFUL POSS AMMUNITION')
gun.remove('UNLAWFUL POSSESSION - AMMUNITION')
df = df.replace('AGGRAVATED PROTECTED EMPLOYEE - OTHER FIREARM','AGG PRO.EMP: OTHER FIREARM')
gun.remove('AGGRAVATED PROTECTED EMPLOYEE - OTHER FIREARM')

df = df.replace('AGGRAVATED PROTECTED EMPLOYEE - HANDGUN','AGG PRO.EMP: HANDGUN')
gun.remove('AGGRAVATED PROTECTED EMPLOYEE - HANDGUN')

df = df.replace('AGGRAVATED - HANDGUN', 'AGGRAVATED: HANDGUN')
gun.remove('AGGRAVATED - HANDGUN')

df = df.replace('AGGRAVATED DOMESTIC BATTERY - HANDGUN', 'AGGRAVATED DOMESTIC BATTERY: HANDGUN')
gun.remove('AGGRAVATED DOMESTIC BATTERY - HANDGUN')

df = df.replace('ARMED - HANDGUN', 'ARMED: HANDGUN')
gun.remove('ARMED - HANDGUN')
df = df.replace('ARMED - OTHER FIREARM','ARMED: OTHER FIREARM')
gun.remove('ARMED - OTHER FIREARM')

df = df.replace('ATTEMPT: ARMED - OTHER FIREARM', 'ATTEMPT: ARMED-OTHER FIREARM')
gun.remove('ATTEMPT ARMED - OTHER FIREARM')

df = df.replace('POSSESS FIREARM / AMMUNITION - NO FOID CARD', 'POSS FIREARM/AMMO:NO FOID CARD')
gun.remove('POSSESS FIREARM / AMMUNITION - NO FOID CARD')

In [23]:
print(len(gun))
gun

27

['ATTEMPT ARMED: HANDGUN',
 'ATTEMPT AGG: OTHER FIREARM',
 'DEFACE IDENTIFICATION MARKS OF FIREARM',
 'ARMED VIOLENCE',
 'AGGRAVATED DOMESTIC BATTERY: OTHER FIREARM,UNLAWFUL USE - OTHER FIREARM',
 'AGGRAVATED PO: OTHER FIREARM',
 'AGG PRO.EMP: OTHER FIREARM',
 'UNLAWFUL SALE OTHER FIREARM',
 'UNLAWFUL SALE/DELIVERY OF FIREARM AT SCHOOL',
 'ATTEMPT AGG: HANDGUN',
 'FIREARM REGISTRATION VIOLATION',
 'ATTEMPT: ARMED-OTHER FIREARM',
 'ARMED WHILE UNDER THE INFLUENCE',
 'AGGRAVATED DOMESTIC BATTERY: HANDGUN',
 'AGG PRO.EMP: HANDGUN',
 'UNLAWFUL USE OTHER FIREARM',
 'AGGRAVATED PO: HANDGUN',
 'ARMED: OTHER FIREARM',
 'UNLAWFUL POSS AMMUNITION',
 'POSS FIREARM/AMMO:NO FOID CARD',
 'AGGRAVATED: OTHER FIREARM',
 'RECKLESS FIREARM DISCHARGE',
 'UNLAWFUL POSS OTHER FIREARM',
 'UNLAWFUL USE HANDGUN',
 'ARMED: HANDGUN',
 'UNLAWFUL POSS OF HANDGUN',
 'AGGRAVATED: HANDGUN']

In [0]:
df['Firearm'] = [True if x in gun else False for x in df['Description']]

In [25]:
df['Firearm'].value_counts()

False    3654046
True      156384
Name: Firearm, dtype: int64

In [26]:
df.head()

             ID Case Number  ... Cannabis Firearm
60296  11556037    JC103643  ...    False   False
62216  11626027    JC188126  ...    False   False
62557  11622422    JC183696  ...    False   False
62590  11625922    JC185669  ...    False   False
62591  11622907    JC185406  ...    False   False

[5 rows x 25 columns]

In [27]:
df.shape

(3810430, 25)

In [30]:
# date-time changes
df.dtypes

ID                        int64
Case Number              object
Date                     object
Block                    object
IUCR                     object
Primary Type             object
Description              object
Location Description     object
Arrest                     bool
Domestic                   bool
Beat                      int64
District                float64
Ward                    float64
Community Area          float64
FBI Code                 object
X Coordinate            float64
Y Coordinate            float64
Year                      int64
Updated On               object
Latitude                float64
Longitude               float64
Location                 object
Violent                  object
Cannabis                   bool
Firearm                    bool
dtype: object

In [0]:
import datetime

In [33]:
df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y %I:%M:%S %p')
df.dtypes

ID                               int64
Case Number                     object
Date                    datetime64[ns]
Block                           object
IUCR                            object
Primary Type                    object
Description                     object
Location Description            object
Arrest                            bool
Domestic                          bool
Beat                             int64
District                       float64
Ward                           float64
Community Area                 float64
FBI Code                        object
X Coordinate                   float64
Y Coordinate                   float64
Year                             int64
Updated On                      object
Latitude                       float64
Longitude                      float64
Location                        object
Violent                         object
Cannabis                          bool
Firearm                           bool
Date_24h                datetime64[ns]
dtype: object

In [34]:
df.head()

             ID Case Number  ... Firearm            Date_24h
60296  11556037    JC103643  ...   False 2019-01-03 19:20:00
62216  11626027    JC188126  ...   False 2019-03-16 17:58:00
62557  11622422    JC183696  ...   False 2019-03-12 22:00:00
62590  11625922    JC185669  ...   False 2019-03-14 18:42:00
62591  11622907    JC185406  ...   False 2019-03-14 16:03:00

[5 rows x 26 columns]

In [0]:
df['Year_Month_Day'] = pd.to_datetime(df['Date']).dt.to_period('D')

In [0]:
df['Year_Month'] = pd.to_datetime(df['Date']).dt.to_period('M')

In [47]:
df.dtypes

ID                               int64
Case Number                     object
Date                    datetime64[ns]
Block                           object
IUCR                            object
Primary Type                    object
Description                     object
Location Description            object
Arrest                            bool
Domestic                          bool
Beat                             int64
District                       float64
Ward                           float64
Community Area                 float64
FBI Code                        object
X Coordinate                   float64
Y Coordinate                   float64
Year                             int64
Updated On                      object
Latitude                       float64
Longitude                      float64
Location                        object
Violent                         object
Cannabis                          bool
Firearm                           bool
Date_24h                datetime64[ns]
Year_Month                   period[M]
month_year                   period[M]
Year_Month_Day               period[D]
dtype: object

In [0]:
df['Month_Num'] = pd.to_datetime(df['Date']).dt.month

In [59]:
df.head()

             ID Case Number  ...    Time_Bucket Month_Num
60296  11556037    JC103643  ...  [16:00-19:59]         1
62216  11626027    JC188126  ...  [16:00-19:59]         3
62557  11622422    JC183696  ...  [20:00-23:59]         3
62590  11625922    JC185669  ...  [16:00-19:59]         3
62591  11622907    JC185406  ...  [16:00-19:59]         3

[5 rows x 33 columns]

In [0]:
def months(row):
  if row.Month_Num==0:
    month = "January"
  elif row.Month_Num==1:
    month = "February"
  elif row.Month_Num==2:
    month = "March"
  elif row.Month_Num==3:
    month = "April"
  elif row.Month_Num==4:
    month = "May"
  elif row.Month_Num==5:
    month = "June"
  elif row.Month_Num==6:
    month = "July"
  elif row.Month_Num==7:
    month = "August"
  elif row.Month_Num==8:
    month = "September"
  elif row.Month_Num==9:
    month = "October"
  elif row.Month_Num==10:
    month = "November"
  else:
    month = "December"
  return month

df['Month'] = df.apply(months, axis=1)

In [65]:
df['Month'].value_counts()

December     570236
August       350492
September    347952
June         337307
July         336527
April        323718
October      322496
November     321108
May          316642
February     311063
March        272889
Name: Month, dtype: int64

In [62]:
df.head()

             ID Case Number                Date  ...    Time_Bucket Month_Num Month
60296  11556037    JC103643 2019-01-03 19:20:00  ...  [16:00-19:59]         1  None
62216  11626027    JC188126 2019-03-16 17:58:00  ...  [16:00-19:59]         3  None
62557  11622422    JC183696 2019-03-12 22:00:00  ...  [20:00-23:59]         3  None
62590  11625922    JC185669 2019-03-14 18:42:00  ...  [16:00-19:59]         3  None
62591  11622907    JC185406 2019-03-14 16:03:00  ...  [16:00-19:59]         3  None

[5 rows x 34 columns]

In [0]:
df['Weekday_Num'] = pd.to_datetime(df['Date']).dt.dayofweek

In [50]:
df['Weekday_Num'].value_counts()

4    574297
2    546913
5    546849
1    543053
3    541223
0    537357
6    520738
Name: Weekday_Num, dtype: int64

In [0]:
def weekdays(row):
  if row.Weekday_Num==0:
    day = "Monday"
  elif row.Weekday_Num==1:
    day = "Tuesday"
  elif row.Weekday_Num==2:
    day = "Wednesday"
  elif row.Weekday_Num==3:
    day = "Thursday"
  elif row.Weekday_Num==4:
    day = "Friday"
  elif row.Weekday_Num==5:
    day = "Saturday"
  else:
    day = "Sunday"
  return day 

df['Weekday'] = df.apply(weekdays, axis=1)

In [53]:
df['Weekday'].value_counts()

Friday       574297
Wednesday    546913
Saturday     546849
Tuesday      543053
Thursday     541223
Monday       537357
Sunday       520738
Name: Weekday, dtype: int64

In [54]:
df.head()

             ID Case Number  ... Weekday_Num   Weekday
60296  11556037    JC103643  ...           3  Thursday
62216  11626027    JC188126  ...           5  Saturday
62557  11622422    JC183696  ...           1   Tuesday
62590  11625922    JC185669  ...           3  Thursday
62591  11622907    JC185406  ...           3  Thursday

[5 rows x 31 columns]

In [0]:
def time_increments(row):
  if row.Date_24h.hour>0 and row.Date_24h.hour<4:
    val = "[00:00-3:59]"
  elif row.Date_24h.hour<8:
    val = "[04:00-7:59]"
  elif row.Date_24h.hour<12:
    val = "[08:00-11:59]"
  elif row.Date_24h.hour<16:
    val = "[12:00-15:59]"
  elif row.Date_24h.hour<20:
    val = "[16:00-19:59]"
  else:
    val = "[20:00-23:59]"
  return val 

df['Time_Bucket'] = df.apply(time_increments, axis=1)

In [56]:
df['Time_Bucket'].value_counts()

[16:00-19:59]    825954
[12:00-15:59]    802404
[20:00-23:59]    775885
[08:00-11:59]    642418
[04:00-7:59]     464253
[00:00-3:59]     299516
Name: Time_Bucket, dtype: int64

In [57]:
df.head()

             ID Case Number  ...   Weekday    Time_Bucket
60296  11556037    JC103643  ...  Thursday  [16:00-19:59]
62216  11626027    JC188126  ...  Saturday  [16:00-19:59]
62557  11622422    JC183696  ...   Tuesday  [20:00-23:59]
62590  11625922    JC185669  ...  Thursday  [16:00-19:59]
62591  11622907    JC185406  ...  Thursday  [16:00-19:59]

[5 rows x 32 columns]